:root {
  --colors-black: #0a0a0a;
  --colors-white: #ededed;
}



body {
  color: var(--colors-white);
  background: var(--colors-black);
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  letter-spacing: 0.8px; 
}